h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2em;
}

div{
    margin-left: 2em;
    margin-bottom: 3em;
}

h3{
    color:cornflowerblue;
}

button{
    background-color:beige;
    color:black;
    padding: 8px 8px;
    border-radius: 50px 50px;
    font-weight: bold;
}

p{
    font-size: 110%;
}

input{
    padding: 8px 8px;
    margin-left: 1em;
    margin-right: 1em;
}

#outReyes, #outFecha, #outRadio, 
#outRandom, #outStrMiddle, 
#outStrLast, #outStrInverse, 
#outStrSeparate, #outStrVowels
{
    color:rgba(255, 0, 0, 0.863);
}